@model RajBugTracker.Models.UserRoleViewModel
@{
    ViewBag.Title = "ChangeRole";
}

<h2>ChangeRole</h2>

<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Change Roles
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="~/Views/Home/Index.cshtml">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-file"></i> Change Users
                    </li>
                </ol>
                <section class="content">
                    <p>
                        User: @Model.Name
                    </p>
                    @using (Html.BeginForm())
                    {
                        @Html.HiddenFor(p => p.Id)
                        @Html.ListBoxFor(p => p.SelectedRoles, Model.Roles)
                        <input type="submit" value="Submit!" />
                    }
                </section>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->